:root {
	--main-white: #fbfefb;
	--main-grey: #f3f6f3;
	--dark-grey: #d9d9d9;
	--card-main: #bef4ed;
	--card-sunny: #f4efbe;
	--card-rainy: #becdf4;
	--text-color: #0c2b08;
}

body {
	padding: 20px;
	width: 90%;
	max-width: 800px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.day-buttons-container {
	height: 120px;
	background-color: var(--main-grey);
	width: 100%;
	/*display: flex;
	padding: 20px 40px;
	justify-content: space-between;
	align-items: center;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1em 2em;
	gap: 8%;
	border-radius: 32px;
}

.day-button {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: var(--text-color);
	background-color: var(--card-main);
	border: none;
}

.day-button h3 {
	width: 80%;
	overflow-wrap: break-word;
	font-size: min(18px, 3vw);
	margin: 0;
}

.day-button span {
	font-size: min(36px, 6vw);
}

.day-button img {
	/*for default icons*/
	width: min(36px, 6vw);
	height: auto;
}

.material-symbols-outlined {
	color: var(--text-color);
}

.sunny {
	background: linear-gradient(to bottom, var(--card-main), var(--card-sunny));
}

.rain {
	background: linear-gradient(to bottom, var(--card-main), var(--card-rainy));
}

.hour-selection {
	background-color: var(--main-grey);
	border-radius: 16px;
	height: 20px;
	width: 100%;
	display: flex;
	gap: 50px;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	padding: 0 20px;
}
.hour-selection::-webkit-scrollbar {
	display: none;
}

.hour {
	border: none;
	background: none;
}

.selected {
	background-color: var(--dark-grey);
	border-radius: 16px;
}
